# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# 專案特定
message_status.json
message_status.db
*.db
*.sqlite
*.sqlite3

# 虛擬環境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系統文件
.DS_Store
Thumbs.db 